/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

label{
    color:gray;
}

.w-100 {
    width: 100%;
}

.floating {
    position:fixed;
    width: 100%;
    text-align: center;
}

/* Adding a slight gradient to alert panels */

.alert-danger-gradient {
	background: #cb2d3e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

.alert-success-gradient {
	background: #02B875;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #00c27b, #00955e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #00c27b, #00955e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    opacity: .9;
}

/* ct-fade Start
 * Add ct-fade on any element with ng-if, ng-hide or ng-show to animate it
 */

.ct-fade.ng-enter-prepare {
  opacity: 0;
}

.ct-fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.ct-fade.ng-enter.ng-enter-active {
  opacity:1;
}

.ct-fade.ng-leave {
  transition:0.3s linear all;
  opacity:1;
}
.ct-fade.ng-leave.ng-leave-active {
  opacity:0;
}

/*
 * ct-fade End
 */

.ct-shadow {
  box-shadow: 1px 1px 5px 6px #ddd;
}

.ct-alert-panel {
  padding-top: .5rem;
  min-height: 4rem;
}

.ct-background-cloud {
	background: #FFFFFF;
    background: -webkit-linear-gradient(to right, #FFFFFF, #f6f4f2);
    background: linear-gradient(to right, #FFFFFF, #f6f4f2);
}

.ct-background-form {
	 background: #ffffff80;
}

.ct-form-legend {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2c5364, #203a43d1, #0f2027b8);
    color: white;
}

.ct-top-1 {
	position: relative;
	top: 1rem;
}

.ct-border {
	border: 1px solid #e8e8e8;
}

.ct-border-before::before {
	border: 1px solid #e8e8e8;
}

.ct-btn-lg {
	line-height: 2rem;
	font-size: 1.5rem;
}

.ct-btn-primary {
	background: #3897f0;
}
.ct-border-radius-5 {
	border-radius: 5px;
}

.ct-form-label {
	text-align:center;
}

.ct-success-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: rgba(75, 191, 116, 0.466);
}

.ct-warning-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #f0ad4e;
}

.ct-info-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #1F9BCF;
}

.ct-min-height-1 {
	min-height: 1rem;
}

/* For Laptops and Desktops */
@media ( min-width: 991px ) {
	.ct-form-label {
		text-align:right;
	}
}
